.el-menu .el-scrollbar__wrap {
    overflow-x: hidden;
}

.chat .el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-table__row .el-radio__label {
    display: none;
}

.el-table__row .el-radio__input {
    margin-left: 7px;
}