html, body {
    font-family: Arial, Helvetica, "Microsoft YaHei", sans-serif;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#app {
    height: 100%;
}

a {
    color: #409EFF;
    text-decoration: none;
}

i {
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

pre {
    white-space: pre-wrap;
    line-height: 1.5;
}

.list {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.list:first-child {
    padding-top: 0;
}

.list:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.el-header {
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

.el-container {
    height: 100%;
}

.el-menu {
    height: 100%;
}

.header {
    display: flex;
    margin: auto;
}

.aside {
    height: 100%;
}

.media {
    display: flex;
}

.media-body {
    flex: 1;
    margin-left: 20px;
}

.pagination {
    margin-top: 15px;
    text-align: center;
}

.el-breadcrumb {
    font-size: 16px;
}

.el-menu .el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-col .el-card {
    height: 100%;
}

.el-tooltip__popper {
    max-width: 80%;
}

.chat .el-scrollbar__wrap {
    overflow-x: hidden;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-icon {
    margin-right: 10px;
}

.button-long {
    width: 100%;
}

.card-title {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.pagination {
    margin-top: 15px;
    text-align: center;
}

.nav {
    margin-left: 10px;
}

.nav-list {
    margin-left: auto;
    display: flex;
}

.el-icon-success {
    color: #67C23A;
}

.el-icon-warning {
    color: #E6A23C;
}

.el-icon-error {
    color: #F56C6C;
}

.login {
    height: 100%;
    position: relative;
    background-size: cover;
    background-image: url(../../assets/img/Deer.jpg);
}

.login-body {
    top: 50%;
    margin: auto;
    position: relative;
    max-width: 360px;
    transform: translateY(-50%);
}

.clock-time {
    margin: 10px 10px;
}

.clock-description {
    font-size: 14px;
    margin-top: 20px;
}

.breadcrumb {
    margin-bottom: 20px;
}

.breadcrumb-icon {
    font-size: 22px;
    margin: -4px 0 -10px;
}

.folder-icon {
    font-size: 16px;
    color: #E6A23C;
    margin-right: 5px;
}

.file-icon {
    font-size: 16px;
    color: #409EFF;
    margin-right: 5px;
}

.table-expand {
    font-size: 0;
}

.table-expand label {
    width: 90px;
    color: #99a9bf;
}

.table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}

.avatar {
    width: 215px;
    height: 215px;
    display: block;
}

.avatar-uploader .el-upload {
    border: 1px dashed #D9D9D9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.is-error .el-upload {
    border: 1px dashed #F56C6C;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 215px;
    height: 215px;
    line-height: 215px;
    text-align: center;
}