html, body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#app {
    height: 100%;
}

a {
    color: #409EFF;
    text-decoration: none;
}

i {
    margin-right: 5px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

pre {
    white-space: pre-wrap;
    line-height: 2;
}

.list {
    line-height: 1;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

.list:first-child {
    padding-top: 0;
}

.list:last-child {
    padding-bottom: 0;
    border-bottom: 0;
}

.el-header {
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
}

.el-container {
    height: 100%;
}

.el-menu {
    height: 100%;
}

.el-breadcrumb {
    font-size: 16px;
}

.el-menu .el-scrollbar__wrap {
    overflow-x: hidden;
}

.el-col .el-card {
    height: 100%;
}

.el-tooltip__popper {
    max-width: 80%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.button-long {
    width: 100%;
}

.card-title {
    font-weight: 600;
    text-align: center;
    font-size: 18px;
}

.pagination {
    margin-top: 15px;
    justify-content: center;
}

.el-tag + .el-tag {
    margin-left: 10px;
}

.table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    width: 50%;
}

.is-error .avatar-uploader > .el-upload {
    border: 1px dashed #F56C6C;
}

.avatar-uploader .el-upload {
    border: 1px dashed #D9D9D9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 215px;
    height: 215px;
    line-height: 215px;
    text-align: center;
}

.update-time {
    font-size: 14px;
}